/* CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE  */

.main-nav-closed {
  min-height: 100vh;
  width: 100vw;
  /* background-size: cover; */
  background: linear-gradient(to left, #242527, #364047);
  /* background-image: url("/src//img/charts-background.png"); */
  background-attachment: fixed;
  /* background-color: red; */
}

.nav-nav-closed {
  height: 4rem;
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 2vh;
  left: 11.5vw;
  /* background-color: rgba(127, 84, 56, 0.5); */
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.nav-closed-button {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  /* border: solid 0.1rem rgb(160, 132, 118); */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-closed-button svg {
  height: 90%;
  width: 90%;
  animation: pulse 1.9s infinite;
}
.nav-closed-button svg:hover {
  transform: scale(2);
  animation: none;
}

.main-nav-closed h1 {
  /* height: 100%; */
  width: 100%;
  text-align: center;
  color: rgb(179, 179, 179);
}
.div-button {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stop {
  height: 100%;
  width: 20%;
  text-align: center;
  color: lightgray;
  background-color: rgb(73, 8, 19);
  font-size: large;
}
.start {
  height: 100%;
  width: 20%;
  text-align: center;
  color: lightgray;
  background-color: green;
  font-size: large;
}
/* NAV DONE  */
.inner {
  height: 95%;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.1); */
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(1px, 1fr));
  /* background-color: red; */
  gap: 0.5rem;
}
.inner-inner-error {
  height: 20vh;
  width: 25vw;
  border: solid 0.1rem black;
  background-color: rgba(18, 20, 21, 0.75);
  /* margin: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.inner-inner-first {
  z-index: 1;
  grid-column: 2/4;
  grid-row: 1/4;
  border: solid 0.1rem rgba(179, 183, 187, 0.5);
  background-color: rgb(3, 13, 44);
  border-radius: 15px;
  padding: 1rem;
}

.inner-inner {
  min-height: 20vh;
  /* width: 25vh; */
  /* background-color: rgba(18, 20, 21, 0.75); */
  /* margin: 1rem; */
  display: flex;
  border: solid 0.1rem rgba(179, 183, 187, 0.5);
  /* background-color: RED; */
  z-index: 1;
  border-radius: 15px;
  background-color: rgb(3, 13, 44);
  padding: 1rem;
}
.current {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.chart {
  height: 100%;
  width: 80%;
}
.green {
  color: green;
}
.red {
  color: #ff0000;
}
.black {
  color: black;
}
@media screen and (max-width: 990px) {
  .inner-inner {
    height: 20vh;
    width: 98%;
    border: solid 0.1rem black;
    margin: 0.2rem;
  }
  .inner {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(1px, 1fr));
    gap: 0.2rem;
  }
  .inner-inner-first {
    z-index: 1;
    grid-column: 2/5;
    grid-row: 1/3;
    border: solid 0.1rem rgba(179, 183, 187, 0.5);
    background-color: rgb(3, 13, 44);
    border-radius: 15px;
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .inner {
    /* max-width: 90vw; */
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 1rem;
    /* margin: 1rem; */
    display: grid;
    grid-template-columns: repeat(2, minmax(45vw, 45vw));
    /* background-color: red; */
    gap: 0.2rem;
  }
  .inner-inner-first {
    height: 33vh;
    z-index: 1;
    grid-column: 1/3;
    grid-row: 2/4;
    border: solid 0.1rem rgba(179, 183, 187, 0.5);
    background-color: rgb(3, 13, 44);
    border-radius: 15px;
    padding: 1rem;
  }
  .inner-inner {
    max-height: 12vh;
  }
  .div-button {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-button button {
    width: 77%;
  }
  .nav-nav-closed {
    height: 2rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 2vh;
    left: 0vw;
    margin-top: -1rem;
  }
}
/* Full Size WebPage */
/* NAVIGATION OPEN  NAVIGATION OPEN  NAVIGATION OPEN  NAVIGATION OPEN  NAVIGATION OPEN  NAVIGATION OPEN  NAVIGATION OPEN  */
#navbar {
  z-index: 500;
}

.main-nav-open {
  min-height: 100vh;
  width: 100vw;
  /* background-size: cover; */
  background: linear-gradient(to left, #242527, #364047);
  /* background-image: url("/src//img/charts-background.png"); */
  background-attachment: fixed;
  /* background-color: red; */
}
.main-nav-open h1 {
  height: 5%;
  width: 100%;
  text-align: center;
}

button {
  z-index: 5;
}

.nav-nav-open {
  height: 7.5vh;
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 2%;
  left: 5vw;
  /* background-color: rgba(127, 84, 56, 0.5); */
}
.nav-open-button {
  height: 100%;
  width: 100%;
  background-color: rgba(247, 222, 116, 0);
  /* border: solid 0.1rem rgb(160, 132, 118); */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-open-button svg {
  height: 90%;
  width: 90%;
}
.nav-open-button svg:hover {
  transform: scale(1.5);
}
.nav-nav-open ul {
  height: 85vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  /* border: solid 0.1rem rgb(224,165,85); */
  /* background-color: rgba(224,165,85, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(60%) blur(3.5px);
  border: solid black 0.5vh;
  padding: 1vh;
}
.nav-nav-open ul li {
  height: 25%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: solid 0.1rem rgb(224,165,85); */
}
.nav-nav-open ul li:nth-child(1) svg {
  transform: scale(1.5);
}
.nav-nav-open ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nav-nav-open ul li a svg {
  height: 40%;
  width: 30%;
}
.nav-nav-open ul li a span {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(212, 188, 188);
  text-align: center;
}
@media screen and (max-width: 700px) {
  .nav-nav-open {
    height: 10vh;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 2%;
    left: 5vw;
    /* background-color: rgba(127, 84, 56, 0.5); */
    margin-top: -7vh;
  }
}
