* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* height: 150vh;
  width: 100vw;
  position: relative; */
}
.max {
  /* width: 100%;
  height: 100%; */
}

/* Full Size WebPage */
/* CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE CHARTS PAGE  */
/* NAVIGATION CLOSED  NAVIGATION CLOSED  NAVIGATION CLOSED  NAVIGATION CLOSED  NAVIGATION CLOSED  NAVIGATION CLOSED  NAVIGATION CLOSED  */

/* FUll SCREEN FUll SCREEN FUll SCREEN FUll SCREEN  FUll SCREEN FUll SCREEN FUll SCREEN FUll SCREEN FUll SCREEN*/
.landingpage {
  height: 100vh;
  width: 100vw;
  background-image: url("./img/cryptoLandingPage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns:
    minmax(0, 1.8fr)
    minmax(0, 1.5fr)
    minmax(0, 0.3fr)
    minmax(0, 1.5fr)
    minmax(0, 0.3fr)
    minmax(0, 1.5fr)
    minmax(0, 7fr);
  grid-template-rows:
    minmax(0, 2.4fr)
    minmax(0, 3fr)
    minmax(0, 1fr)
    minmax(0, 1.5fr);
}
.landingpage h2 {
  color: rgb(248, 245, 252);
  grid-column: 2/7;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 2.7rem;
}
.landingpage-paragraph {
  grid-column: 2/7;
  grid-row-start: 2;
  /* background-color: rgba(157, 74, 74, 0.5); */
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: justify;
  padding: 1vh 0vh;
  margin: 1vh 0vh;
  font-size: 1.35rem;
  color: rgb(248, 245, 252);
}

.landingpage-paragraph p {
  padding: 0.5rem;
}
.landingpage-button1 {
  grid-column: 2;
  grid-row: 3;
}
.landingpage-button2 {
  grid-column: 4;
  grid-row: 3;
}
.landingpage-button3 {
  grid-column: 6;
  grid-row: 3;
}
.landingpage-button {
  margin-top: 1vh;
}
.landingpage button {
  height: 100%;
  width: 100%;
  /* margin: 1rem; */
  background-color: rgb(23, 173, 248);
  border: solid 0.1rem rgb(78, 69, 59);
  color: rgb(208, 246, 253);
  margin-right: 1rem;
  box-sizing: border-box;
  font-size: 1.35rem;
  border-radius: 15px;
}
.landingpage button:hover {
  /* background-color: rgba(18, 20, 21, 0.5); */
  transform: scale(1.2);
  cursor: pointer;
}
.landingpage a {
  height: 100%;
  width: 100%;
  /* margin: 1rem; */
  background-color: rgb(23, 173, 248);
  border: solid 0.1rem rgb(78, 69, 59);
  color: rgb(208, 246, 253);
  margin-right: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  text-align: center;
  border-radius: 15px;
}
.landingpage a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*  First Screen Min */
@media only screen and (max-width: 1300px) {
  .landingpage {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/cryptoLandingPage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, 1.5fr)
      minmax(0, 0.3fr)
      minmax(0, 1.5fr)
      minmax(0, 0.3fr)
      minmax(0, 1.5fr)
      minmax(0, 5.8fr);
    grid-template-rows:
      minmax(0, 2.8fr)
      minmax(0, 3fr)
      minmax(0, 0.8fr)
      minmax(0, 2fr);
  }
  .landingpage-button {
    margin-top: 2vh;
  }
  .landingpage-paragraph {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 980px) {
  .landingpage {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/cryptoLandingPage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:
      minmax(0, 0.15fr)
      minmax(0, 1.5fr)
      minmax(0, 0.3fr)
      minmax(0, 1.5fr)
      minmax(0, 0.3fr)
      minmax(0, 1.5fr)
      minmax(0, 4.25fr);
    grid-template-rows:
      minmax(0, 2.8fr)
      minmax(0, 3fr)
      minmax(0, 0.8fr)
      minmax(0, 2fr);
  }
  .landingpage h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .landingpage {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/cryptoLandingPage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:
      minmax(0, 0.15fr)
      minmax(0, 1.5fr)
      minmax(0, 0.08fr)
      minmax(0, 1.5fr)
      minmax(0, 0.08fr)
      minmax(0, 1.5fr)
      minmax(0, 0.15fr);
    grid-template-rows:
      minmax(0, 2fr)
      minmax(0, 3.5fr)
      minmax(0, 0.9fr)
      minmax(0, 1.4fr);
  }
  .landingpage h2 {
    font-size: 1.8rem;
  }
  .landingpage-button {
    margin-top: 1.5vh;
    margin-right: 0;
  }
  .landingpage-paragraph {
    padding: 0.5vh 0vh;
    margin: 0.5vh 0vh;
    font-size: 1.1rem;
  }
  .landingpage button {
    margin-right: 0;
  }
  .landingpage a {
    margin-right: 0;
  }
}
